*{
  box-sizing: border-box;
}

/*Dorte koder Forsiden*/

body {
  max-width: 100%;
  height: auto;
  margin: 0;
  background-image: /*linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 100%),*/ url(img/breatherdesigntema3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-position: center;*/
}

header {
  height: 98px;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: solid 3px white; /*#414033;*/
  background-color: rgba(129,76,79,0.4); /*#814C4F;*/
  margin: 0;
  /*opacity: 0.7;*/
}

header #header {
  height: 98px;
}

header #header img {
  height: 90%;
  padding: 8px 0 0 5%;
  margin: 0;
  float: left;
}




#nicole {
  margin: 1% 5%;
  padding-top: 1%;
  padding-bottom: 10px;
  background-color: white;
  opacity: 0.95;
}

#nicole img{
  max-width: 70%;
  margin: 0 auto;
  display: block;
  /*opacity: none;*/
}

#nicole iframe{
  /*display: none;*/
}

#nicole h1, #nicole h2, #nicole h3, #nicole h4{
  font-family: 'Varela Round', sans-serif;
}

#nicole h1, #nicole h2{
  padding: 0;
}

#nicole h1{
  font-size: 120%;
  margin: 0;
  /*background-color: green;*/
}

#nicole h2{
  font-size: 250%;
  margin: 0;
  /*background-color: blue;*/
}

/*
#nicole form, #nicole h3{
  margin: 2%;
}*/

#nicole h3{
  font-size: 90%;
  margin-top: 2%;
  margin-bottom: 4%;
}

#nicole h4{
  margin: 2%;
}

#nicole p{
  font-family: 'Open Sans Condensed';
  margin: 2%;
  font-size: 17px;
}

#nicole input[type=number]{
  display: inline-block;
  width: 10%;
  text-align: center;
}

#nicole input[type=submit]:hover{
  text-decoration: underline;
}

#nicole .omegg{
  border: 0.5px solid black;
  margin: 3.5% 2%;
}

#nicole .indhold{
  margin: 3.5%
}

#nicole .farver a{
  border-radius: 50%;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
}

#nicole .farver{
  text-align: center;
}

#nicole #altgrey{
  background-color: grey;
  color: grey;
}

#nicole #altred{
  background-color: red;
  color: red;
}

#nicole #altblue{
  background-color: blue;
  color: blue;
}

/*#nicole button{
  border-radius: 50%;
  font-size: 30px;*/
}


@media screen and (min-width:760px) {
  #nicole{
    height: 870px;
  }

  #nicole img{
    max-width: 54%;
  }

  #nicole .left{
    float: left;
    clear: left;
    max-width: 45%;
    margin: 1% 0 0 5%;
    /*background-color: blue;*/
    /*margin: 0;*/
  }

  #nicole .omegg{
    float: right;
    clear: right;
    max-width: 45%;
    display: inline-block;
    margin: 1% 5% 0 0;
    border: none;
    /*background-color: white;
    margin: 0;*/
  }

  #nicole h2{
    font-size: 300%;
  }

  #nicole h3{
    font-size: 145%;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  /*#nicole input[type=number]{
    width: 20%;
  }*/

  #nicole p{
    font-size: 150%;
  }
}


@media screen and (min-width:1024px) {
  #nicole{
    height: 590px;
    /*position: fixed;*/
  }

  #nicole img{
    max-width: 300px;
    float: left;
    margin-left: 10%;
  }

  #nicole h2{
    font-size: 300%;
  }

  #nicole .left, #nicole .omegg{
    float: right;
    margin-right: 10%;
  }

  #nicole .left{
    clear: right;
    margin-top: 3%;
    max-width: 35%;
  }

  #nicole .omegg{
    max-width: 35%;
    clear: right;
    margin-right: 9%;
    margin-top: 1%;
  }

  #nicole .farver{
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 67%;
    left: 22%;
  }

  #nicole input[type=number]{
    width: 20%;
  }

}

@media screen and (min-width:1097px) {
  #nicole .omegg{
    max-width: 344px;
  }

  #nicole .farver{
    position: absolute;
    top: 80%;
    left: 21%;
  }
}




footer {
  height: 98px;
  padding: 0;
  border-top: solid 3px white; /*#414033;*/
  margin: 0;
  background-color: rgba(129,76,79,0.4);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34px;
  /*opacity: 0.7;*/
}

footer p {
  text-align: center;
  font-size: 0.75em;
  font-family: 'Varela Round', sans-serif;
  color: #ffffff;
}

footer p a img {
  width: 20px;
  margin-left: 1%;
}

/*forside slutter her */

/*Hamburgermenuen starter her*/
/*hvordan overlayet ser ud nÃ¥r det kommer frem*/
/*Dorte koder Menu + Forside*/

.navi{
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #537081; /*baggrund menu ud rgba(0,0,0,0.9);*/
  overflow-x: hidden;
  transition: 0.5s;
}

/*hvordan ser indholdet ud i hamburgermenuen*/
.overlayer{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  /*padding-left: 5%;*/
  font-size: 10%;
  margin-top: 30px;
  font-family: 'Varela Round', sans-serif;
}
/*hvordan linkene ser ud i overlay*/
.navi a{
  padding: 8px;
  text-decoration: none;
  font-size: 10em;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
/*giver farve nÃ¥r der holdes over indholdet*/
.navi a:hover .navi a:focus{
  color: #537081; /*#f1f1f1;*/
}

/*position af x/lukke knappen i menuen*/
.navi .closebut{
  position: absolute;
  top: 15px;
  right: 5%;
  padding: 0;
  font-size: 60px;
}
/*hamburgerikon*/
span{
  position: absolute;
  right: 5%;
  margin-top: 20px;
  font-size: 2.0em;
  color: #ffffff;
  cursor: pointer;
}
/*menuen slutter her*/






/*#dorte main section {
  width: 20%;
  height: 30%;
  /*padding: 8px 0;*/
  /*margin: 0.7em;
  background-color: #537081; /*rgba(255,255,255,0.2);*/
  /*opacity: 0.3;
}

#dorte main section h2{
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  padding-top: 15%;
}

#dorte main section img {
  height: 100%;
  display: block;
  margin: auto;
}*/

/*w3-padding w3-xlarge w3-text-orange {
  position: absolute;
  right: 15%;
  margin-top: 20px;
  font-size: 2.0em;
  color: #ffffff;
}*/

/*#dorte header #header h1 {
  padding: 25px 0 0 5px;
  margin: 0;
  float: left;
  font-family: 'Bowlby One', cursive, sans-serif;
  color: #07395a;
  font-size: 2em;
}*/
